trigger:
  - none

pool:
  vmImage: 'windows-latest'

steps:
  - task: Maven@3
    env:
      BROWSER1: chrome
      BROWSER2: firefox
      mavenPomFile: 'pom.xml'
      testResultsFiles: '**/allure-reports/TEST-*.xml'
      goals: 'test -Dtest=CucumberRunner'
     
  - script: |
      mvn clean test
  - task: AllureGenerate@1
    inputs:
      resultsDir: 'allure-results'
      targetDir: 'allurereport'
  - script: |
      mvn generate:allure    
  
