parameters:
- name: browser
  displayName: Browser Name
  type: string
  default: chrome
  values:
  - chrome
  - firefox
trigger:
  - none
jobs:
- job: build
  displayName: build
  pool: 
    browser: ${{ parameters.browser }}

  pool: default

  steps:
  - task: Maven@3
    inputs:
    mavenPomFile: 'pom.xml'
    publishJUnitResults: true
    testResultsFiles: '**/allure-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false

  - task: AllureGenerate@1
    inputs:
    resultsDir: 'allure-results'
    targetDir: 'allure-report/$(Build.BuildNumber)'

